.Image {
    height: 500px;
    width: 850px;
    padding: 50px 70px 30px 70px;
}

@media only screen and (max-width: 799px) {
    .content {
        width: 90% !important;
    }

    .Image {
        height: 160px;
        width: 220px;
        padding: 0px;
        margin-top: 20px;
    }
}

.content {
    padding: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    min-height: 350px;
    margin-top: 10px;
    width: 100%;
}

.button {
    width: 100%;
    background-color: #18D26E;
    color: White;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.panel {
    margin: 0 auto;
    /*margin-top: 70px;*/
    padding-top: 10px;
    width: 100%;
    min-height: 300px;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* change this to whatever height you want it */
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #18D26E;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: -100px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    margin-top: 5px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        padding: 10px;
        color: #333;
        transition: 0.3s;
        display: block;
        font-size: 13px;
        text-transform: none;
        font-weight: bold;
    }

.dropdown a:hover {
    color: #18d26e;
}

.show {
    display: block;
}

#header #logo h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

@media (max-width: 1024px) {
    #header #logo h1 {
        font-size: 22px;
        letter-spacing: 1px;
    }

    #mobile-nav ul {
        width: 100%;
    }

        #mobile-nav ul li a {
            padding: 15px 22px 15px 15px;
        }
}

@media (min-width: 1024px) {
    #header #logo {
        padding-left: 10px;
    }

    .nav-menu > li {
        margin-left: 15px;
    }
}

@media (min-width: 1024px) {
    #nav-menu-container {
        padding-right: 10px;
    }

    .nav-menu ul {
        left: -100px;
    }
}

.nav-menu a {
    padding: 0 4px 5px 4px;
}

#mobile-nav-toggle {
    right: 30px;
}

.packageListing table {
    width: 90% !important;
    border: 0px;
}

.packageListing .card {
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .packageListing .card .section {
        min-height: 200px;
        padding: 5px;
    }

    .packageListing .card .sectionSeperator {
        border-left: 1px solid rgba(0,0,0,0.2);
    }

    .packageListing .card .leftSection {
    }

    .packageListing .card .middleSection {
    }

    .packageListing .card .rightSection {
    }

.pkgName {
    font-size: 13px;
    font-weight: bold;
    color: #9c9c9c;
}

.pkgDescription {
    font-size: 13px;
    color: #bababa;
}

.pkgDescription {
    font-size: 13px;
    color: #bababa;
}

.pkgAmount {
    margin-left: 10%;
    font-size: 18px;
    color: #04b4cf;
}

.pkgAmtSym {
    font-weight: bold;
    float: left;
}

.pkgAmtCost {
    padding-left: 2px;
    float: left;
}

.pkgAmountText {
    margin: 30% 0% 0% 10%;
    color: coral;
}

.pkgAction {
    margin-left: 10%
}

.btn-package {
}

.btn-search {
    border-radius: 0px 4px 4px 0px;
}

.btn-searchtext {
    border-radius: 4px 0px 0px 4px;
    border-right: 0px !important;
}



/*START - MODAL form PACKAGE DETAILS*/
.package-details {
    padding: 15px;
}

.package-details .category {
    float: left;
    font-weight: bold;
    color: #868686;
    font-style: italic;
}

.package-details .categoryseperator {
    float: left;
    margin-left: 15px;
    color: #8f8c8c;
    font-weight: bold;
}

.package-details .subcategory {
    float: left;
    margin-left: 15px;
    color: #b4b4b4;
    font-style: italic;
    font-weight: bold;
}

.package-details .pkgType {
    float: left;
    margin-right: 15px;
    color: #FF7F50;
    font-weight: bold;
}

.package-details .pkgNameSepr {
    float: left;
    margin-left: 5px;
}

.package-details .pkgNameInDetail {
    float: left;
    margin-left: 5px;
    color: #FF7F50;
}

.pkgNameContainer {
    margin-top: 15px;
    margin-left: 30%;
}





/*START - PACKAGE details LAYOUT*/


@import url(https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700);
@import url(http://fontawesome.io/assets/font-awesome/css/font-awesome.css);

* {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}

li {
    list-style: none;
}

.packageContainer {
    text-align: center;
}

.package {
    width: 100%;
    margin: 50px auto 20px;
    border: 1px solid #CCC;
    display: inline-block;
}

.fa {
    color: #b9b9b9;
    font-size: 18px;
    font-style: normal;
    margin-right: 5px;
    width: 25px;
    float: left;
}

.packageLeftBar {
    width: 40%;
    background: #fbfbfb;
    float: left;
}

.packageLeftBar li, .packageDetails li{
    padding: 0.95em 25px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    text-align: left;
}

.packageLeftBar li:first-child, .packageDetails li:first-child {
    text-align: center;
    padding: 30px;
    border: none;
}

.packageLeftBar li:last-child, .packageDetails li:last-child {
    padding: 30px 0;
    background: #FFF;
}

.packageDetails {
    width: 20%;
    float: left;
    position: relative;
    border-left: 1px dotted #CCC;
}

.packageDetails:hover {
    background: #FAFAFA;
}

.packageDetails .fa-times {
    color: #d31c06;
}

.packageDetails .fa-check {
    color: #7e9513;
}

.packageDetails li {
    text-align: center;
}

.packageDetails li .fa {
    text-align: center;
    float: none;
    line-height: 0;
}

.packageDetails li:first-child {
    padding: 10px 10px;
}

.packageLeftBar li:first-child {
    padding: 38px 10px 37px;
}

.packageDetails li:first-child span {
    padding: 10px 0;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    display: block;
    background-color: #d9a702;
    position: absolute;
    top: -5px;
    box-shadow: 3px 3px 0px #b68c03;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

.packageDetails.yellow li:first-child {
    background-color: #EBC137;
    color: #FFF;
    line-height: 16px;
}

.signUp {
    padding: 8px 15px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.packageDetails li:nth-child(2) {
    padding: 68px 10px 25px;
    border-top: 0;
    color: #FFF;
    font-size: 21px;
}

.packageDetails.yellow li:nth-child(2) {
    background: #EBC137;
}

.packageDetails.yellow .signUp {
    background-color: #d9a702;
    box-shadow: 3px 3px 0px #b68c03;
}

.packageDetails.orange li:first-child {
    background-color: #E38C2D;
    color: #FFF;
    line-height: 16px;
}

.packageDetails.orange li:first-child span {
    background-color: #cf7a1c;
    box-shadow: 3px 3px 0px #b36004;
}

.packageDetails.orange li:nth-child(2) {
    background: #E38C2D;
}

.packageDetails.orange .signUp {
    background-color: #cf7a1c;
    box-shadow: 3px 3px 0px #b36004;
}

.packageDetails.red li:first-child {
    background-color: #e84c3d;
    color: #FFF;
    line-height: 16px;
}

    .packageDetails.red li:first-child span {
        background-color: #b52918;
        box-shadow: 3px 3px 0px #9c4239;
    }

.packageDetails.red li:nth-child(2) {
    background: #e84c3d;
}

.packageDetails.red .signUp {
    background-color: #b52918;
    box-shadow: 3px 3px 0px #9c4239;
}

.packageDetails.maroon li:first-child {
    background-color: #771E10;
    color: #FFF;
    line-height: 16px;
}

    .packageDetails.maroon li:first-child span {
        background-color: #531106;
        box-shadow: 3px 3px 0px #380a03;
    }

.packageDetails.maroon li:nth-child(2) {
    background: #771E10;
}

.packageDetails.maroon .signUp {
    background-color: #531106;
    box-shadow: 3px 3px 0px #380a03;
}

.packageDetails #economy li:nth-child(2) {
    padding: 40px 10px 15px;
}

    .packageDetails #economy li:nth-child(2) select {
        margin-top: 14px;
    }

#economy select {
    border: 0;
    outline: none;
    padding: 3px 8px;
}

ol, ul{
    margin-bottom:0px;
}





/*NEW CSS BASED content DIV*/

.itemRow {
    float: left;
    padding: 0.95em 25px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    text-align: left;
}


.itemRow  {
    float: left;
}

.dataCell {
    float: left;
    padding: 0.95em 25px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    margin: auto;
}


.dataCellHeader {
    float: left;
    padding: 0.95em 25px !important;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    text-align: left;
    width: 100%;
    background: #fbfbfb !important;
}

.rowHeader {
    text-align: left;
}

.containerRepeater .footer .signUp{
    border: 0px !important;
}

.containerRepeater .blankCell {
    padding: 17px !important;
    background-color: #fbfbfb !important;
}