.Image {
    height: 500px;
    width: 850px;
    padding: 50px 70px 30px 70px;
}

@media only screen and (max-width: 799px) {
    .content {
        width: 90% !important;
    }

    .Image {
        height: 160px;
        width: 220px;
        padding: 0px;
        margin-top: 20px;
    }
}

.content {
    padding: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    min-height: 350px;
    margin-top: 10px;
    width: 100%;
}

.button {
    width: 100%;
    background-color: #18D26E;
    color: White;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.panel {
    margin: 0 auto;
    /*margin-top: 70px;*/
    padding-top: 10px;
    width: 100%;
    min-height: 300px;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* change this to whatever height you want it */
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #18D26E;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: -100px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    margin-top: 5px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        padding: 10px;
        color: #333;
        transition: 0.3s;
        display: block;
        font-size: 13px;
        text-transform: none;
        font-weight: bold;
    }

.dropdown a:hover {
    color: #18d26e;
}

.show {
    display: block;
}

#header #logo h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

@media (max-width: 1024px) {
    #header #logo h1 {
        font-size: 22px;
        letter-spacing: 1px;
    }

    #mobile-nav ul {
        width: 100%;
    }

        #mobile-nav ul li a {
            padding: 15px 22px 15px 15px;
        }
}

@media (min-width: 1024px) {
    #header #logo {
        padding-left: 10px;
    }

    .nav-menu > li {
        margin-left: 15px;
    }
}

@media (min-width: 1024px) {
    #nav-menu-container {
        padding-right: 10px;
    }

    .nav-menu ul {
        left: -100px;
    }
}

.nav-menu a {
    padding: 0 4px 5px 4px;
}

#mobile-nav-toggle {
    right: 30px;
}

.packageListing table {
    width: 90% !important;
    border: 0px;
}

.packageListing .card {
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .packageListing .card .section {
        min-height: 200px;
        padding: 5px;
    }

    .packageListing .card .sectionSeperator {
        border-left: 1px solid rgba(0,0,0,0.2);
    }

    .packageListing .card .leftSection {
    }

    .packageListing .card .middleSection {
    }

    .packageListing .card .rightSection {
    }

.pkgName {
    font-size: 13px;
    font-weight: bold;
    color: #18C235;
}

.pkgDescription {
    font-size: 13px;
    color: #bababa;
}

.pkgDescription {
    font-size: 13px;
    color: #bababa;
}

.pkgAmount {
    margin-left: 10%;
    font-size: 18px;
    color: #04b4cf;
}

.pkgAmtSym {
    font-weight: bold;
    float: left;
}

.pkgAmtCost {
    padding-left: 2px;
    float: left;
}

.pkgAmountText {
    margin: 30% 0% 0% 10%;
    color: coral;
}

.pkgAction {
    margin-left: 10%
}

.btn-package {
}

.btn-search {
    border-radius: 0px 4px 4px 0px;
}

.btn-searchtext {
    border-radius: 4px 0px 0px 4px;
    border-right: 0px !important;
}



/*START - MODAL form PACKAGE DETAILS*/
.package-details {
    padding: 15px;
}

    .package-details .category {
        float: left;
        color: #868686;
    }

    .package-details .categoryseperator {
        float: left;
        margin-left: 15px;
        color: #8f8c8c;
        font-weight: bold;
    }

    .package-details .subcategory {
        float: left;
        margin-left: 15px;
        color: #b4b4b4;
    }

    .package-details .pkgType {
        color: #FF7F50;
    }

    .package-details .pkgNameSepr {
        float: left;
        margin-left: 5px;
    }

    .package-details .pkgNameInDetail {
        float: left;
        margin-left: 5px;
        color: #FF7F50;
    }

.pkgNameContainer {
    margin-top: 15px;
    margin-left: 30%;
}





/*START - PACKAGE details LAYOUT*/


@import url(https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700);
@import url(http://fontawesome.io/assets/font-awesome/css/font-awesome.css);

* {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}

li {
    list-style: none;
}

.packageContainer {
    text-align: center;
}

.package {
    width: 100%;
    margin: 50px auto 20px;
    border: 1px solid #CCC;
    display: inline-block;
}

.fa {
    color: #b9b9b9;
    font-size: 18px;
    font-style: normal;
    margin-right: 5px;
    width: 25px;
    float: left;
}

.packageLeftBar {
    width: 40%;
    background: #fbfbfb;
    float: left;
}

    .packageLeftBar li, .packageDetails li {
        padding: 0.95em 25px;
        font-size: 14px;
        font-weight: bold;
        border-top: 1px dotted #CCC;
        text-align: left;
    }

        .packageLeftBar li:first-child, .packageDetails li:first-child {
            text-align: center;
            padding: 30px;
            border: none;
        }

        .packageLeftBar li:last-child, .packageDetails li:last-child {
            padding: 30px 0;
            background: #FFF;
        }

.packageDetails {
    width: 20%;
    float: left;
    position: relative;
    border-left: 1px dotted #CCC;
}

    .packageDetails:hover {
        background: #FAFAFA;
    }

    .packageDetails .fa-times {
        color: #d31c06;
    }

    .packageDetails .fa-check {
        color: #7e9513;
    }

    .packageDetails li {
        text-align: center;
    }

        .packageDetails li .fa {
            text-align: center;
            float: none;
            line-height: 0;
        }

        .packageDetails li:first-child {
            padding: 10px 10px;
        }

.packageLeftBar li:first-child {
    padding: 38px 10px 37px;
}

.packageDetails li:first-child span {
    padding: 10px 0;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    display: block;
    background-color: #d9a702;
    position: absolute;
    top: -5px;
    box-shadow: 3px 3px 0px #b68c03;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

.packageDetails.yellow li:first-child {
    background-color: #EBC137;
    color: #FFF;
    line-height: 16px;
}

.signUp {
    padding: 8px 15px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.packageDetails li:nth-child(2) {
    padding: 68px 10px 25px;
    border-top: 0;
    color: #FFF;
    font-size: 21px;
}

.packageDetails.yellow li:nth-child(2) {
    background: #EBC137;
}

.packageDetails.yellow .signUp {
    background-color: #d9a702;
    box-shadow: 3px 3px 0px #b68c03;
}

.packageDetails.orange li:first-child {
    background-color: #E38C2D;
    color: #FFF;
    line-height: 16px;
}

    .packageDetails.orange li:first-child span {
        background-color: #cf7a1c;
        box-shadow: 3px 3px 0px #b36004;
    }

.packageDetails.orange li:nth-child(2) {
    background: #E38C2D;
}

.packageDetails.orange .signUp {
    background-color: #cf7a1c;
    box-shadow: 3px 3px 0px #b36004;
}

.packageDetails.red li:first-child {
    background-color: #e84c3d;
    color: #FFF;
    line-height: 16px;
}

    .packageDetails.red li:first-child span {
        background-color: #b52918;
        box-shadow: 3px 3px 0px #9c4239;
    }

.packageDetails.red li:nth-child(2) {
    background: #e84c3d;
}

.packageDetails.red .signUp {
    background-color: #b52918;
    box-shadow: 3px 3px 0px #9c4239;
}

.packageDetails.maroon li:first-child {
    background-color: #771E10;
    color: #FFF;
    line-height: 16px;
}

    .packageDetails.maroon li:first-child span {
        background-color: #531106;
        box-shadow: 3px 3px 0px #380a03;
    }

.packageDetails.maroon li:nth-child(2) {
    background: #771E10;
}

.packageDetails.maroon .signUp {
    background-color: #531106;
    box-shadow: 3px 3px 0px #380a03;
}

.packageDetails #economy li:nth-child(2) {
    padding: 40px 10px 15px;
}

    .packageDetails #economy li:nth-child(2) select {
        margin-top: 14px;
    }

#economy select {
    border: 0;
    outline: none;
    padding: 3px 8px;
}

ol, ul {
    margin-bottom: 0px;
}





/*NEW CSS BASED content DIV*/

.itemRow {
    float: left;
    padding: 0.95em 25px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    text-align: left;
}


.itemRow {
    float: left;
}

.dataCell {
    float: left;
    padding: 0.95em 25px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    margin: auto;
}


.dataCellHeader {
    float: left;
    padding: 0.95em 25px !important;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px dotted #CCC;
    text-align: left;
    width: 100%;
    background: #fbfbfb !important;
}

.rowHeader {
    text-align: left;
}

.containerRepeater .footer .signUp {
    border: 0px !important;
}

.containerRepeater .blankCell {
    padding: 17px !important;
    background-color: #fbfbfb !important;
}

.containerRepeater .packageDetails div {
    text-align: center;
}


/*START ARROW BANNER*/
.arrow {
    display: inline-block;
    height: auto;
    background-color: #02a7c4;
}

    .arrow span {
        display: inline-block;
        line-height: 0;
        padding: 10px;
        color: white;
    }

    .arrow::after {
        width: 0;
        height: 0;
        position: absolute;
        right: 0 top: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #02a7c4;
        content: "";
    }

    .arrow:hover {
    }

        .arrow:hover::after {
        }



.banner {
    display: inline-block;
    height: auto;
    background-color: #6dcede;
}

    .banner span {
        display: inline-block;
        line-height: 0;
        padding: 10px;
        color: white;
    }


.banner-packagename {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    margin-top: 15px;
    height: 30px;
    border: 1px solid #cdcdcd
}


.pkgNameModal {
    font-weight: bold;
    color: #18C235;
}

.pkgTypeModal {
    color: #FF7F50;
}

.TermsnCond{
    color:#bababa;
}

/*START  - RIBBON EFFECT*/
.ribbon-container section {
    margin: 0 auto;
    padding: 0 20px;
}

.ribbon-container h1 {
    font-weight: normal;
    position: relative;
    background: #F4F9FA;
    width: 50%;
    color: #F8463F;
    text-align: center;
    padding: 10px 20px;
    margin: 20px auto 40px;
    border-radius: 2px;
}

    .ribbon-container h1:before, .ribbon-container h1:after {
        content: "";
        position: absolute;
        top: -6px;
        border: 18px solid #DCF4F4;
    }

    .ribbon-container h1:before {
        left: -36px;
        border-right-width: 18px;
        border-left-color: transparent;
    }

    .ribbon-container h1:after {
        right: -36px;
        border-left-width: 18px;
        border-right-color: transparent;
    }

    .ribbon-container h1 span:before, h1 span:after {
        content: "";
        position: absolute;
        border-style: solid;
        border-color: #A7CECC transparent transparent transparent;
        top: -6px;
        transform: rotate(180deg);
    }

    .ribbon-container h1 span:before {
        left: 0;
        border-width: 6px 0 0 6px;
    }

    .ribbon-container h1 span:after {
        right: 0;
        border-width: 6px 6px 0 0;
    }

.ribbon-container .agency-info {
    font-size: 12px;
    float: right;
    text-align: right;
    padding-right:12px;
}

.ribbon {
    width: 100%;
    height: 50em;
    position: relative;
    float: left;
    margin-bottom: 30px;
    background-size: cover;
    border: 1px solid #e6e6e6;
    color: white;
    background-color:#ffffff;
}

    .ribbon:nth-child(even) {
        margin-right: 4%;
    }

@media (max-width: 500px) {
    .ribbon {
        width: 100%;
    }

        .ribbon:nth-child(even) {
            margin-right: 0%;
        }
}

.ribbon1 {
    position: absolute;
    top: -6.1px;
    right: 10px;
}

    .ribbon1:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 53px solid transparent;
        border-right: 53px solid transparent;
        border-top: 10px solid #F8463F;
    }

    .ribbon1 span {
        position: relative;
        display: block;
        text-align: center;
        background: #F8463F;
        font-size: 14px;
        line-height: 1;
        padding: 12px 8px 10px;
        border-top-right-radius: 8px;
        width: 90px;
    }

        .ribbon1 span:before, .ribbon1 span:after {
            position: absolute;
            content: "";
        }

        .ribbon1 span:before {
            height: 6px;
            width: 6px;
            left: -6px;
            top: 0;
            background: #F8463F;
        }

        .ribbon1 span:after {
            height: 6px;
            width: 8px;
            left: -8px;
            top: 0;
            border-radius: 8px 8px 0 0;
            background: #C02031;
        }

.ribbon2 {
    width: 60px;
    padding: 10px 0;
    position: absolute;
    top: -6px;
    left: 25px;
    text-align: center;
    border-top-left-radius: 3px;
    background: #F47530;
}

    .ribbon2:before {
        height: 0;
        width: 0;
        right: -5.5px;
        top: 0.1px;
        border-bottom: 6px solid #8D5A20;
        border-right: 6px solid transparent;
    }

    .ribbon2:before, .ribbon2:after {
        content: "";
        position: absolute;
    }

    .ribbon2:after {
        height: 0;
        width: 0;
        bottom: -29.5px;
        left: 0;
        border-left: 30px solid #F47530;
        border-right: 30px solid #F47530;
        border-bottom: 30px solid transparent;
    }

.ribbon3 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 20px;
    background: #59324C;
}

    .ribbon3:before, .ribbon3:after {
        content: "";
        position: absolute;
    }

    .ribbon3:before {
        height: 0;
        width: 0;
        top: -8.5px;
        left: 0.1px;
        border-bottom: 9px solid black;
        border-left: 9px solid transparent;
    }

    .ribbon3:after {
        height: 0;
        width: 0;
        right: -14.5px;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 15px solid #59324C;
    }

.ribbon4 {
    position: absolute;
    top: 15px;
    padding: 8px 10px;
    background: #00B3ED;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3);
}

    .ribbon4:before, .ribbon4:after {
        content: "";
        position: absolute;
    }

    .ribbon4:before {
        width: 7px;
        height: 100%;
        top: 0;
        left: -6.5px;
        padding: 0 0 7px;
        background: inherit;
        border-radius: 5px 0 0 5px;
    }

    .ribbon4:after {
        width: 5px;
        height: 5px;
        bottom: -5px;
        left: -4.5px;
        background: lightblue;
        border-radius: 5px 0 0 5px;
    }

.ribbon5 {
    display: block;
    width: calc(100% + 20px);
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    background: #EDBA19;
    position: relative;
    top: 20px;
    font-size:20px;
}

    .ribbon5:before, .ribbon5:after {
        content: "";
        position: absolute;
    }

    .ribbon5:before {
        height: 0;
        width: 0;
        bottom: -10px;
        left: 0;
        border-top: 10px solid #cd8d11;
        border-left: 10px solid transparent;
    }

    .ribbon5:after {
        height: 0;
        width: 0;
        right: 0;
        bottom: -10px;
        border-top: 10px solid #cd8d11;
        border-right: 10px solid transparent;
    }

.wrap {
    width: 100%;
    height: 188px;
    position: absolute;
    top: -8px;
    left: 8px;
    overflow: hidden;
}

    .wrap:before, .wrap:after {
        content: "";
        position: absolute;
    }

    .wrap:before {
        width: 40px;
        height: 8px;
        right: 100px;
        background: #4D6530;
        border-radius: 8px 8px 0px 0px;
    }

    .wrap:after {
        width: 8px;
        height: 40px;
        right: 0px;
        top: 100px;
        background: #4D6530;
        border-radius: 0px 8px 8px 0px;
    }

.ribbon6 {
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px dashed;
    box-shadow: 0 0 0 3px #57DD43, 0px 21px 5px -18px rgba(0,0,0,0.6);
    background: #57DD43;
    text-align: center;
}