<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="EmailFrom" value="benchkart.test@gmail.com" />
    <add key="EmailFromDisplayName" value="Benchkart" />
    <add key="EmailFromPwd" value="test@1234" />
    <add key="EmailPort" value="587" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailIsSSL" value="true" />
    <add key="EmailBcc" value="saket.sah@gmail.com" />
    <add key="EmailBccDisplayName" value="Benchkart Support" />
    
    <add key="IsDevelopmentMode" value="true" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Initial Catalog=Benchkart;Data Source=LAPTOP-V7SETIQK\SQLEXPRESS;Integrated Security=SSPI;"/>-->
    <!-- <add name="ConnectionString" connectionString="Data Source=43.255.152.25;Initial Catalog=benchkart;Integrated Security=False;User ID=benchkart_0308;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=R@khi_1976;" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=148.72.232.168;Initial Catalog=benchkart_db;Integrated Security=False;User ID=anuragrawat123;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=India123#;" />-->
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-9F57882\SQL2012;Initial Catalog=Benchkart_26OCT2020;Integrated Security=True" />
    <!--<add name="ElmahConnectionString" connectionString="Data Source=DESKTOP-9F57882\SQL2012;Initial Catalog=Benchkart_12OCT2020;User ID=benchkartdbuser;Password=P0908r38;"/>-->
    <add name="ErrorLogConnection" connectionString="Data Source=DESKTOP-9F57882\SQL2012;Initial Catalog=Benchkart_26OCT2020;User ID=benchkartdbuser;Password=P0908r38;" providerName="System.Data.SqlClient" />

    <!--<add name="ConnectionString" connectionString="Data Source=148.72.232.168;Initial Catalog=coachx;Integrated Security=False;User ID=anuragrawat;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=India123#;"/>-->
  </connectionStrings>
  <system.net> 
    <mailSettings> 
      <smtp deliveryMethod ="Network"> 
        <network host="smtp.gmail.com" port="587" userName="benchkart.test@gmail.com"   password="test@1234" /> 
      </smtp> 
    </mailSettings> 
</system.net>
  
  <!--<system.net>
  <mailSettings>
    <smtp from="outsource@benchkart.com">
      <network host="relay-hosting.secureserver.net" port="25" userName="outsource@benchkart.com" password="Benchkart191119" />
    </smtp>
  </mailSettings>
  </system.net>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="120" />
    <trust level="Full" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <authentication mode="Forms">
      <forms timeout="2880" />
    </authentication>
    <!--<membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipPartner" type="System.Web.Security.SqlMembershipPartner" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfilePartner" type="System.Web.Profile.SqlProfilePartner" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>-->
    <httpRuntime maxRequestLength="104857600" executionTimeout="3600" />
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRolePartner" type="System.Web.Security.SqlRolePartner" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRolePartner" type="System.Web.Security.WindowsTokenRolePartner" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.5" />
    <httpHandlers>
      <add verb="GET,HEAD" path="KeepSessionAlive.ashx" validate="false" type="KeepSessionAlive" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^127\.0\.0\.1(:\d+)?$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <!--<rule name="RewriteASPX">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{URL}" pattern="^.+\.((axd)|(js)|(xaml)|(asmx)|(ico))/populateData" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx"/>
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLogConnection"/>
    <security allowRemoteAccess="false" />
    <errorMail from="benchkart.test@gmail.com" to="saket.sah@gmail.com" async="true"  smtpPort="587" useSsl="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 3C950553-DEEF-4E64-9604-542C7D98BF9A-->