<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
     <add name="ConnectionString" connectionString="Initial Catalog=Benchkart;Data Source=LAPTOP-V7SETIQK\SQLEXPRESS;Integrated Security=SSPI;"/>
  <!--<add name="ConnectionString" connectionString="Data Source=43.255.152.25;Initial Catalog=benchkart;Integrated Security=False;User ID=anuragrawat123;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=India123#;" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=148.72.232.168;Initial Catalog=benchkart_db;Integrated Security=False;User ID=anuragrawat123;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=India123#;" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=LAPTOP-V7SETIQK\SQLEXPRESS;Initial Catalog=BenchKart;Integrated Security=True"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=148.72.232.168;Initial Catalog=coachx;Integrated Security=False;User ID=anuragrawat;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=India123#;"/>-->
  </connectionStrings>
  <!--<system.net>
  <mailSettings>
    <smtp from="outsource@benchkart.com">
      <network host="relay-hosting.secureserver.net" port="25" userName="outsource@benchkart.com" password="Benchkart191119" />
    </smtp>
  </mailSettings>
  </system.net>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
     <sessionState mode="InProc" timeout="120" />
    <trust level="Full" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <authentication mode="Forms">
      <forms timeout="2880" />
    </authentication>
    <!--<membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipPartner" type="System.Web.Security.SqlMembershipPartner" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfilePartner" type="System.Web.Profile.SqlProfilePartner" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>-->
    <httpRuntime maxRequestLength="104857600" executionTimeout="3600" />
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRolePartner" type="System.Web.Security.SqlRolePartner" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRolePartner" type="System.Web.Security.WindowsTokenRolePartner" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.5" />
    <httpHandlers>
      <add verb="GET,HEAD" path="KeepSessionAlive.ashx" validate="false" type="KeepSessionAlive" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^127\.0\.0\.1(:\d+)?$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <!--<rule name="RewriteASPX">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{URL}" pattern="^.+\.((axd)|(js)|(xaml)|(asmx)|(ico))/populateData" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx"/>
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 3C950553-DEEF-4E64-9604-542C7D98BF9A-->